<?xml version="1.0"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="sample">
            <file>tests/settings/test-wc-route.php</file>
            <file>tests/settings/test-wc-controller.php</file>
        </testsuite>
    </testsuites>
</phpunit>
