<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
            <testsuite name="sample">
                <file>./tests/settings/test-business-info-setting.php</file>
<!--                    <directory prefix="test-" suffix=".php">./tests/</directory>-->
                    <exclude>./tests/test-sample.php</exclude>
            </testsuite>
    </testsuites>
</phpunit>