.mrm-block-control-wrapper {
    .components-panel__body {
        .mrm-hr {
            margin: 24px 0;
        }

        p, span, section, label, div {
            color: inherit;
        }

        & > .components-panel__body-title {
            background: transparent!important;
        }

        .components-color-palette__custom-color {
            padding: 12px;
        }
        
        .components-panel__body-toggle.components-button {
            font-size: 15px;
            line-height: 1.2;
            color: #344054;
            font-weight: 600;
            padding: 19px 32px 19px 13px;
            box-shadow: none!important;
            outline: none!important;
            background: transparent;
        }

        label.blocks-base-control__label {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: -0.01em;
            color: #A7A8B3;
            display: block;
            margin-bottom: 8px;
        }

        .components-range-control .components-input-control__input,
        .components-base-control .components-select-control__input,
        .components-base-control .components-text-control__input {
            border-radius: 6px;
            outline: none;
            box-shadow: none;
            background: #FFFFFF;
            border: 1px solid #E4E6EB;
            padding: 9px 12px;
            line-height: 1.5715;
            color: #1d2129;
            font-size: 14px;
            font-weight: 500;
            height: auto;
        }

        .components-input-control__backdrop {
            border: none!important;
            box-shadow: none!important;
            outline: none!important;
        }

        .components-base-control {
            .components-base-control__label {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: -0.01em;
                color: #A7A8B3;
            }
        }

        .mrm-inline-label {
            .components-base-control__field {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .components-base-control__label {
                width: calc(100% - 190px);
                margin-bottom: 0;
                padding-right: 10px;
            }
            .components-text-control__input {
                width: 190px;
            }
        }

        .mrm-switcher-block {
            .components-base-control__field {
                flex-flow: row-reverse;
                justify-content: space-between;
            }
            .components-form-toggle {
                margin-right: 0;
                margin-left: 12px;
            }
            .components-toggle-control__label {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: -0.01em;
                color: #A7A8B3;
                padding-right: 10px;
            }
        }

        .components-range-control {
            .components-range-control__root {
                align-items: center;
            }
            .components-input-control__input {
                height: 42px;
            }
            .components-range-control__reset {
                height: 42px;
                box-shadow: none;
                background: #6f6af8;
                color: #fff;
                border-radius: 6px;
            }

            .components-range-control__track {
                background-color: #6f6af8;
            }

            .components-range-control__slider::-webkit-slider-thumb {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                -webkit-appearance: none;
                cursor: ew-resize;
                background: #6f6af8;
            }
            .components-simple-tooltip {
                color: #fff;
            }
        }

    }
}