$border-color: #D6D9DD;
.components-panel[data-getwpf-tab]{
    &:not([data-getwpf-tab='advance']) .components-panel__body.block-editor-block-inspector__advanced,
    &:not([data-getwpf-tab='advance']) .components-panel__body.editor-block-inspector__advanced.block-editor-block-inspector__advanced{
        display: none;
    }
    .block-editor-block-card{
        padding-bottom: 25px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -16px;
            right: -16px;
            bottom: 0px;
            background: #F2F4F5;
            z-index: -1;
        }
    }
    .components-panel__body.edit-post-settings-sidebar__panel-block .block-editor-block-card{
        overflow: unset;
        &::before{
            top: -16px;
        }
    }
}

.getwpf-inspector-tabs{
    display: flex;
    //margin-left: -16px;
    //margin-right: -16px;
    position: relative;
    background: #F2F4F5;
    z-index: 9;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 50%;
        right: 0;
        z-index: 0;
        background: #ffffff;
        pointer-events: none;
    }
    button{
        flex-grow: 1;
        flex-basis: 0;
        display: inline-flex;
        flex-direction: column;
        height: 65px;
        align-items: center;
        justify-content: center;
        border: none;
        position: relative;
        border-radius: 10px;
        background: #F2F4F5;
        cursor: pointer;
        &::after,
        &::before{
            z-index: 1;
            content: '';
            position: absolute;
            top: 0;
            left: -.5px;
            right: -.5px;
            bottom: 50%;
            border: 1px solid transparent;
            border-bottom: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            pointer-events: none;
        }
        &::after{
            top: 50%;
            bottom: 0;
            border-color: $border-color;
            border-bottom: 1px solid $border-color;
            border-top: none;
            border-radius: 0 0 10px 10px;
        }
        &:not(.getwpf-active)::after{
            background: #F2F4F5;
        }
        &.getwpf-active{
            background: #fff;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &::before{
                border-color: $border-color;
            }
            &::after{
                border-color: transparent;
            }
            + button{
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 10px;
                &::after{
                    border-bottom-right-radius: 0;
                    border-right-color: transparent;
                }
                + button{
                    border-bottom-left-radius: 0;
                    &::after{
                        border-bottom-left-radius: 0;
                        border-left-color: transparent;
                    }
                }
            }
        }
        &:first-child{
            border-bottom-left-radius: 0;
            &::after{
                border-bottom-left-radius: 0;
                border-left-color: transparent;
            }
            &.getwpf-active::after{
                border-left-color: $border-color;
            }
            &::before,
            &::after{
                left: -1px;
            }
        }
        &:last-child{
            border-bottom-right-radius: 0;
            &::after{
                border-bottom-right-radius: 0;
                border-right-color: transparent;
            }
            &.getwpf-active::after{
                border-right-color: $border-color;
            }
            &::before,
            &::after{
                right: 0;
            }
        }
        &:focus{
            outline: none;
        }
        h5{
            margin: 6px 0 0;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.2;
        }
        h5,
        svg{
            z-index: 2;
        }
        &.getwpf-active h5{
            color: #2184F9;
        }
        &:focus path,
        &.getwpf-active path{
            fill: #2184F9;
        }
    }

    &.advance.getwpf-inspector-tabs-count-3{
        button:first-child{
            border-bottom-right-radius: 0;
            &::after{
                border-bottom-right-radius: 0;
                border-right-color: transparent;
            }
            + button{
                border-bottom-left-radius: 0;
                &::after{
                    border-bottom-left-radius: 0;
                    border-left-color: transparent;
                }
            }
        }
    }

}

.components-panel .components-panel__body .getwpf-inspector-tabs-container{
    position: static !important;
    margin-left: -16px;
    margin-right: -16px;
    border-top: 0 !important;
    top: 0 !important;
}

.getwpf-inspector-tabs-container{
    position: sticky;
    top: -3px;
    z-index: 9;
    border-top: calc(0.1em + 1px) solid #F2F4F5;
    &.getwpf-is-sticky{
        .getwpf-inspector-tabs{
            &::before,
            &::after{
                display: none;
            }
            border-bottom: 1px solid #e2e4e7;
            button{
                border-radius: 0;
                &::before{
                    display: none;
                }
                &::after{
                    border-radius: 0;
                    background: #2184F9;
                    height: 3px;
                    top: auto;
                    bottom: -1px;
                    opacity: 0;
                }
                &.getwpf-active::after{
                    opacity: 1;
                }
            }
        }
    }
}

.getwpf-inspector-tab .components-panel__body:first-child,
.edit-post-settings-sidebar__panel-block .getwpf-inspector-tab .components-panel__body:first-child{
    margin-top: 0;
    border-top: none !important;
}


//--------pricing table style-----------
$primary-color: #6e42d3;

.pricing-section {

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    *:focus {
        box-shadow: none;
        outline: none;
    }

    ul:not(.listing) {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    img {
        display: block;
        max-width: 100%;
    }
    a:hover,
    a:focus,
    input:focus,
    button:focus,
    a:active {
    text-decoration: none;
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    figur,
    a {
    margin: 0px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-weight: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    }

    a,
    svg path,
    button[type="submit"],
    input[type="button"],
    input[type="submit"],
    .btn-default,
    .transition-3ms {
    transition: all 0.3s ease;
    }

    .pos-relative {
        position: relative;
    }
    
    .img-fluid {
        max-width: 100%;
        display: block;
    }
    
    .text-center {
        text-align: center;
    }
    .primary-color {
        color: $primary-color;
    }

    .section-title {
        margin-bottom: 47px;

        p {
            color: #1A1A1B;
            font-weight: 500;
        }
    }

    .pricing-wrapper {
        position: relative;
        z-index: 1;
    }

    .price-plan-wrapper{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        margin-left: -40px;

        .single-plan{
            width: calc(100% / 3 - 40px);
            margin-left: 40px;
            text-align: center;
            background: #fff;
            padding: 50px 35px 30px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            border-radius: 10px;
            box-shadow: 0px 2px 2px rgba(226, 222, 236, 0.2);

            .delete-plan {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 18px;
                line-height: 1;
                border: 1px solid #f5c2c7;
                color: #842029;
                background-color: #f8d7da;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .tbl-header{
                width: 100%;

                .top-line {
                    display: block;
                    width: 100%;
                    height: 9px;
                    background: #6e42d3;
                    border-radius: 50px;
                    border: 2px solid #37394F;
                    position: relative;
                    top: -27px;
                }

                .popular-tag {
                    font-size: 14px;
                    letter-spacing: -0.35px;
                    font-family: "Circular Std Book";
                    color: $primary-color;
                    position: relative;
                    top: -14px;
                }

                .plane-img {
                    height: 76px;
                    margin-bottom: 40px;

                    img {
                        margin: 0 auto;
                    }
                }
                h5{
                    font-family: "Circular Std Bold";
                    color: #1A1A1B;
                    text-transform: capitalize;
                    line-height: normal;
                    margin-bottom: 10px;
                    font-size: 24px;
                    margin: 0;
                }
                h3{
                    text-transform: capitalize;
                    font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (1920 - 320)));
                    letter-spacing: -1px;
                    font-family: 'Circular Std Bold';
                    margin: 0;

                    small {
                        font-family: "Circular Std Book";
                        font-size: 64%;
                    }
                }
                p{
                    color: #707070;
                    font-size: 16px;
                    font-family: "Manrope";
                    font-weight: 500;
                    margin-top: 14px;
                    line-height: 1.5;
                }
            }

            .tbl-body{
                width: 100%;

                ul{
                    text-align: left;
                    width: 100%;
                    margin: 34px auto 0;

                    li{
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 15px;
                        position: relative;
                        line-height: 1.6;
                        padding-left: 26px;
                        position: relative;

                        svg {
                            display: inline-block;
                            position: absolute;
                            top: 3px;
                            left: 0;
                        }

                        & > span {
                            background: #F9D6AC;
                            display: inline-block;
                            line-height: 1;
                            padding: 5px 8px;
                            color: #1A1A1B;
                            font-weight: 600;
                            border-radius: 6px;
                            margin: 0 3px;
                            text-transform: capitalize;

                            &.pro-tag {
                                background-color: $primary-color;
                                color: #ffffff;
                            }
                        }
                        
                        &:last-child {
                            margin-bottom: 0;
                        }

                        .delete-feature {
                            position: absolute;
                            right: -19px;
                            top: 0;
                            border-radius: 100%;
                            margin: 0;
                            padding: 6px 5px;
                            height: auto;
                            line-height: 0.5;
                            min-width: auto;
                            font-size: 14px;
                            border: 1px solid #f5c2c7;
                            color: #842029;
                            background-color: #f8d7da;
                            min-height: auto;
                            width: 20px;

                            &:focus {
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }

            .tbl-footer{
                width: 100%;
                margin-top: 42px;

                .btn-default {
                    box-shadow: 0px 15px 25px rgba(241, 238, 249, 0.7);
                    height: auto;
                    line-height: 54px;
                    width: 100%;
                    display: block;
                    background: #C5AFFD;
                    font-size: 18px;
                    color: #1A1A1B;
                    border-radius: 8px;
                }
            }
            
        }

        .single-plan.popular{
            transform: translateY(-30px);
            box-shadow: 0px 0px 0 3px #6e42d3, 
                        0px -40px 0px 3px #6e42d3;

            &:before {
                content: "popular";
                font-family: "Circular Std Bold";
                position: absolute;
                top: -37px;
                left: 0;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                color: #fff;
                font-size: 14px;
                padding: 7px 5px;
                border-radius: 10px 10px 0 0;
                letter-spacing: 0.875px;
            }

            .tbl-footer{
                .btn-default {
                    background-color: $primary-color;
                    color: #ffffff;
                }
            }
        }
    }

}


@media (min-width: 1921px) {
    .pricing-section .price-plan-wrapper .single-plan .tbl-header h3 {
        font-size: 40px;
    }
    .pricing-section .guarantee-notice .guarantee-text h3 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1399px) {
    .pricing-section {
        padding: 120px 0 100px;
    }
    .pricing-section .overlay {
        height: 655px;
    }
    .pricing-section .section-title h2 {
        margin-bottom: 15px;
    }
    .pricing-section .price-plan-wrapper {
        margin-top: 90px;
    }

}

@media only screen and (max-width: 1199px) {
    .pricing-section {
        padding: 100px 0 100px;
    }
    .pricing-section .price-plan-wrapper {
        margin-left: -20px;
    }
    .pricing-section .price-plan-wrapper .single-plan {
        width: calc(100% / 3 - 20px);
        margin-left: 20px;
        padding: 30px 20px 30px;
        border-radius: 15px;
    }
    .pricing-section .price-plan-wrapper .single-plan .tbl-header h5 {
        margin-bottom: 20px;
    }

}


@media only screen and (max-width: 991px) {
    .pricing-section {
        padding: 100px 0 80px;
    }
    .pricing-section .price-plan-wrapper .single-plan {
        width: calc(100% / 2 - 20px);
        margin-bottom: 20px;
        align-self: stretch;
    }
    .pricing-section .price-plan-wrapper .single-plan.popular {
        box-shadow: 0px 0px 0 3px #6e42d3, 
                    0px 0px 0px 3px #6e42d3;
        overflow: hidden;
        transform: none;
    }
    .pricing-section .price-plan-wrapper .single-plan.popular:before {
        top: 21px;
        left: inherit;
        right: -59px;
        width: 190px;
        padding: 5px 5px;
        border-radius: 0;
        letter-spacing: 0;
        background: #6e42d3;
        transform: rotate(45deg );
    }
    .pricing-section .price-plan-wrapper {
        margin-top: 40px;
    }

    .pricing-section .guarantee-notice {
        margin-top: 30px;
    }
    .pricing-section .guarantee-notice {
        padding: 30px;
    }
    .pricing-section .payment-getway {
        margin-top: 30px;
    }
    
}


@media only screen and (max-width: 767px) {
    .pricing-section .price-plan-wrapper .single-plan {
        width: calc(100% / 1 - 20px);
        margin-bottom: 30px;
    }
    .pricing-section .guarantee-notice {
        display: block;
        text-align: center;
    }
    .pricing-section .guarantee-notice .logo-area {
        width: 132px;
        margin: 0 auto 30px;
    }
    .pricing-section .guarantee-notice .guarantee-text {
        padding-left: 0;
        width: 100%;
    }
    

}

@media only screen and (max-width: 575px) {
    .wpfunnel-switcher > span {
        font-size: 17px;
    }
    .pricing-section .wpfunnel-switcher .lifetime:before {
        top: -53px;
        right: -23px;
    }

    .pricing-section .guarantee-notice {
        padding: 40px 20px;
    }
}
