.mintmrm-settings-page {
  .mintmrm-settings-wrapper {
    .settings-tab-content {
      .double-optin-tab-content {
        .input-custom-wrapper {
          .drop-down-button {
            &::before {
              top: 50%;
            }
            &.show::before {
              top: 55%;
            }
          }
        }
      }
      .form-wrapper {
        .confirmation-message-section,
        .redirect-url-section,
        .page-dropdown-section {
          display: none;

          &.show {
            display: flex;
          }
        }
      }
    }
  }
}
