.mintmrm-settings-page {
    .settings-tab-content {
        .general-tab-content {
            .general-single-settings {
                border: 1px solid #e4e6eb;
                border-radius: 6px;
                margin-bottom: 22px;

                &:last-child {
                    margin-bottom: 0;
                }

                .general-settings-header {
                    padding: 17px 20px 15px;

                    .form-group {
                        justify-content: space-between;
                    }

                    .form-group > label {
                        width: calc(100% - 35px);
                    }
                }

                .general-settings-body {
                    border-top: 1px solid #e4e6eb;
                    padding: 30px 24px;
                    display: none;

                    &.show {
                        display: block;
                    }
                    hr {
                        margin-left: -24px;
                        margin-right: -24px;
                    }
                    .select-preference-wrapper,
                    .editable-primary-field {
                        width: calc(100% - 223px);
                    }

                    .select-preference-wrapper {
                        .mintmrm-radiobtn {
                            display: block;
                            margin-bottom: 20px;
                            margin-right: 0;
                        }

                        .list-section {
                            background: #f6f8fa;
                            border-radius: 6px;
                            padding: 20px;

                            .drop-down-button {
                                background-color: #ffffff;
                                &::before {
                                    right: 38px;
                                }
                            }
                        }
                    }
                    .editable-primary-field {
                        .mintmrm-checkbox {
                            display: block;
                            margin-bottom: 20px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .wp-user {
                        border-bottom: 1px solid #ebedf0;
                        margin: -30px -24px 0;
                        padding: 14px 24px;
                        span {
                            display: inline-block;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 1.21;
                            color: #9398a5;
                            &:first-child {
                                width: 223px;
                            }
                        }
                    }
                }
            }

            .top-wrapper {
                border: 1px solid #e4e6eb;
                border-radius: 6px;
                padding: 19px;
                display: flex;
                justify-content: space-between;
            }
            .inner-wrapper {
                border: 1px solid #e4e6eb;
                border-top: navajowhite;
                border-radius: 0 0 6px 6px;
                padding: 30px 24px;
            }
        }
    }
}