.mintmrm-settings-page {
    .mintmrm-settings-wrapper {
        .settings-navbar {
            width: 314px;
            background: #fff;
            box-shadow: 0px 1px 1px #b6b9bf4d;
            border-radius: 10px;
            padding: 24px;

            ul {
                li:last-child {
                    .mintmrm-btn {
                        margin-bottom: 0;
                    }
                }
            }

            .mintmrm-btn {
                display: flex;
                align-items: center;
                padding: 18px 20px;
                margin-bottom: 16px;
                font-weight: 600;
                font-size: 16px;
                line-height: 1.19;
                svg {
                    margin-right: 9px;
                    path {
                        transition: all 0.3s ease;
                    }
                }
                &.outline {
                    color: #2d3149;
                }
                &.active,
                &:hover {
                    background-color: #573bff;
                    color: #fff;
                    svg {
                        path {
                            fill: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .mintmrm-settings-page .mintmrm-settings-wrapper .settings-navbar {
        width: 265px;
        .mintmrm-btn {
            padding: 18px 15px;
            font-size: 13px;
        }
    }
}
