



.get-mrm-block-editor__block-list {
	padding: 80px 50px;

    .block-editor-block-list__block {
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block {
        //max-width: $content-width;
        max-width: 540px;
    }
}

