.form-editor-page {
    .interface-interface-skeleton__body {
        display: flex;
        flex-flow: row wrap;

        .interface-interface-skeleton__content {
            width: calc(100% - 385px);
            background: #E6E6E6;
            border-radius: 10px;
            padding: 30px;

            .editor-styles-wrapper {
                width: 677px;
                margin: 0 auto;
            }
        }

        .interface-interface-skeleton__sidebar {
            width: calc(385px - 35px );
            margin-left: 35px;

            .mrm-form-builder-sidebar {
                background: #FFFFFF;
                box-shadow: 0px 1px 1px rgb(182 185 191 / 30%);
                border-radius: 6px;
                position: relative;
                height: 100%;
                overflow: hidden;
            }

            .components-panel__header {
                border-bottom: 1px solid #E9EAEE;
                text-align: center;
                padding: 10px;
                height: 58px;
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 18px;
                    color: #2D3149;
                }
            }

            .components-panel {
                border: none;
                box-shadow: 0px 1px 1px #b6b9bf4d;
                border-radius: 6px;
            }

            //----settings pannel----
            .settings-pannel {
                position: absolute;
                top: 0;
                left: 210px;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;

                .components-panel__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        display: flex;
                        align-items: center;
                        padding-left: 10px;

                        svg {
                            margin-right: 10px;
                        }
                    }

                    .close-pannel {
                        width: 30px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }

        }
    }

}


.form-editor-page .show-settings-pannel .interface-interface-skeleton__body .interface-interface-skeleton__sidebar .settings-pannel {
    left: 0;
    opacity: 1;
    visibility: visible;
}
