@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.mrm-email-editor {
    background: #F6F8FA;
    font-family: 'Inter', sans-serif;

    * {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    body {
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
    }

    .visible-on-hover {
        opacity: 0;
        transition: all 0.5s;
        &:hover {
        opacity: 1;
        }
    }
}