.canvas-drag-picker-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

.canvas-step-wrapper {
  width: 200px;
  padding: 10px;
  height: auto;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.handle-right {
  width: 15px;
  height: 15px;
  right: -8px;
}

.handle-left {
  width: 15px;
  height: 15px;
  left: -8px;
}
.handle {
  width: 15px;
  height: 15px;
}

.canvas-step-options-wrapper {
  position: absolute;
  top: -25px;
  left: 0px;
  width: 100%;
  padding: 4px;
  display: flex;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 3px 0px;
}

.canvas-step-options-wrapper:hover {
  visibility: visible;
}

.canvas-step-wrapper:hover .canvas-step-options-wrapper {
  visibility: visible;
}

.canvas-step-option {
  margin: 0px 10px;
  border-bottom: 2px solid white;
}
.canvas-step-option:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--p-action-primary);
}

.canvas-step-icon {
  height: 20px;
  width: 20px;
}

.canvas-step-title {
  text-align: center;
  font-weight: bold;
  margin: 4px 0px;
}
