.mrm-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

.mrm-li {
  float: left;
  margin: 0;
}

.mrm-a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mrm-a:hover,
.mrm-a:active,
.mrm-a:focus {
  background-color: #3498ff;
  color: white;
  box-shadow: none;
  outline: none;
}

.mrm-active {
  color: white;
  background-color: #3498ff;
}
