/*
---------------form animations------------------
1. Fade In animation
2. Slide In Up animation
*/

//----1. fade in----
@-webkit-keyframes mrmFadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes mrmFadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


//----2. slide in up----
@-webkit-keyframes mrmSlideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes mrmSlideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}