.mintmrm-add-contact-consent-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;

  & > label {
    width: calc(100% - 34px);
    margin: 0!important;
    padding-left: 8px!important;
  }

  #mintmrm_add_contact_consent_checkbox {
    position: relative;
    top: 5px;
  }
}
