.email-builder-editor {
  position: fixed;
  top: 32px;
  right: 0;
  padding: 0;
  width: calc(100% - 160px);
  height: 100%;
  background: rgba(51, 51, 51, 0.2);
  z-index: 999;
}

.folded .email-builder-editor {
  width: calc(100% - 36px);
}

// .mintmrm-template-alert-wrapper {
//   position: fixed;
//   top: 32px;
//   right: 0;
//   padding: 15px;
//   width: calc(100% - 160px);
//   height: 100%;
//   background: rgba(51, 51, 51, 0.2);
//   z-index: 999;
//   &.email-builder-editor {
//     padding: 0;
//   }

//   .mintmrm-template-confirmation {
//     background: #f6f6f6;
//     box-shadow: 0 1px 34px rgba(0, 0, 0, 0.06);
//     border-radius: 10px;
//     // padding: 30px 20px;
//     width: 100%;
//     min-height: 94vh;

//     .template-confirmation-header {
//       background-color: #ffffff;
//       display: flex;
//       flex-flow: row wrap;
//       align-items: center;
//       border-radius: 10px 10px 0 0;
//       justify-content: space-between;
//       padding: 20px 20px 20px 30px;
//       border-bottom: 1px solid #e4e6eb;

//       h3 {
//         font-weight: 600;
//         font-size: 18px;
//         line-height: 20px;
//       }

//       .cross-icon {
//         height: 30px;
//         width: 30px;
//         background: #ffffff;
//         border: 1px solid #e4e6eb;
//         border-radius: 6px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         cursor: pointer;
//         svg {
//           path {
//             fill: #686f7f;
//           }
//         }
//       }
//     }

//     .template-confirmation-body {
//       padding: 32px 80px 32px 80px;
//       .template-header {
//         display: flex;
//         flex-flow: row wrap;
//         justify-content: space-between;

//         .template-tab-section {
//           .tab-list {
//             display: flex;
//             flex-flow: row wrap;
//             gap: 30px;
//             .brand-template,
//             .my-templates {
//               font-weight: 500;
//               font-size: 16px;
//               line-height: 19px;
//               color: #6f7075;

//               &.active {
//                 font-weight: 600;
//                 font-size: 16px;
//                 line-height: 19px;
//                 color: #121212;
//                 padding-bottom: 4px;
//                 border-bottom: 3px solid #6f6af8;
//               }
//             }
//           }
//         }
//         .email-type-dropdown {
//           .type-button {
//             padding: 10px 40px 10px 16px;
//             background: #ffffff;
//             border: 1px solid #e3e4e8;
//             box-shadow: 0px 1px 1px rgb(218 218 218 / 50%);
//             border-radius: 6px;
//           }
//         }
//       }

//       .template-body {
//         display: flex;
//         flex-flow: row wrap;
//         padding: 40px 0;
//         .template-select-section {
//           width: calc(100% - 300px);
//           margin: 0 20px;
//           background: #ffffff;
//           box-shadow: 0px 2px 3px #dfdfdf;
//           border-radius: 6px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//         }

//         .template-select-section:first-child {
//           margin-left: 0;
//           border: 1.3px dashed #c3c2c2;
//           display: flex;
//           padding: 135px 50px;
//           width: auto;
//         }
//         .coming-soon {
//           margin-right: 0;
//           padding: 20px;
//         }
//         @media only screen and (max-width: 768px) {
//           .coming-soon {
//             h2 {
//               font-size: 30px;
//               line-height: 1.4;
//               text-align: center;
//             }
//           }
//         }
//       }
//     }
//   }

//   .icon {
//     width: 50px;
//     height: 50px;
//     border: 2px solid #e65555;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0 auto 20px;
//     border-radius: 100%;

//     svg {
//       width: 18px;
//       height: 18px;

//       path {
//         stroke: #e65555;
//       }
//     }
//   }

//   .mintmrm-template-confirm-btn {
//     display: flex;
//     flex-flow: row;
//     align-items: center;
//     justify-content: end;
//     padding: 20px;
//     border-top: 1px solid #e4e6eb;

//     li {
//       margin: 0 6px;
//     }

//     .btn-default {
//       height: 41px;
//       line-height: 42px;
//       font-weight: 600;
//       font-size: 14px;
//       padding: 0 20px;
//       min-width: 76px;
//       border-radius: 8px;

//       &.template {
//         background-color: #ec5956;
//         color: white;

//         &:hover {
//           background-color: #de6464;
//         }
//       }
//       &.cancel {
//         background-color: #eee;
//         color: #333;

//         &:hover {
//           background-color: #e2e2e2;
//         }
//       }
//     }
//   }
// }

// .mintmrm-template-alert-wrapper.inactive {
//   display: none;
// }

// .folded .mintmrm-template-alert-wrapper {
//   width: calc(100% - 36px);
// }


.mintmrm-template-modal {
  position: fixed;
  top: 32px;
  right: 0;
  padding: 40px;
  width: calc(100% - 160px);
  height: 100%;
  max-height: 905px;
  background: rgba(51, 51, 51, 0.2);
  z-index: 999;
  display: none;

  &.active {
    display: block;
  }

  .template-modal-inner {
    position: relative;
    height: 100%;
    max-width: 1365px;
    margin: 0 auto;
  }

  .template-modal-overflow {
    background: #F6F8FA;
    border-radius: 10px;
    position: relative;
    padding: 40px 80px;
    position: relative;
    max-width: 1365px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #f9fafb;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 20px;
    }
  }

  .cross-icon {
    position: absolute;
    right: -20px;
    top: -20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px #dadada;
    border-radius: 100px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;

    svg path {
      fill: #A7A8B3;
    }
  }

  .template-modal-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .modal-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      color: #2D3149;
    }

    .template-filter {
      display: flex;
      align-items: center;
      gap: 28px;

      li {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        color: #9398A5;
        cursor: pointer;
        padding: 4px 0;
        transition: all 0.3s ease;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #6F6AF8;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease;
        }

        &:hover {
          color: #2D3149;
        }

        &.active {
          color: #2D3149;

          &:before {
            opacity: 1;
            visibility: visible;
          }
        }

      }

    }

    .template-type {
      select {
        padding: 10px 26px 10px 15px;
        min-width: 130px;
        border: 1px solid #DEE1E8;
        border-radius: 6px;
        color: #2D3149;
        font-weight: 600;
        background: #f6f8fa url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;

        &:focus {
          color: #2D3149;
        }
      }
    }
  }

  .template-modal-body {

  }

  .template-modal-footer {
    margin-top: 30px;

    .template-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 0px 1px 1px #b6b9bf4d;
      border-radius: 6px;
      width: 104px;
      margin: 0 auto;

      button {
        padding: 16px 8px;
        background: transparent;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.prev {
          border-right: 1px solid #E9EAEE;
        }

        path {
          transition: all 0.3s ease;
        }

        &:hover {
          path {
            fill: #2E2D34;
          }
        }
      }
    }
  }

}

.mintmrm{
  .mintmrm-template-wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-left: -40px;
  }

  .mintmrm-single-template {
    width: calc(100% / 4 - 40px);
    margin-left: 40px;
    margin-top: 40px;
    position: relative;

    &.create-from-scratch {
      .mintmrm-single-remote-template {
        border: 2px dashed #A1A1B6;
        border-radius: 10px;
        cursor: default;

        .template-image-wrapper {
          background-image: none!important;
          background-color: #fff;
        }
      }
      
      .template-info .title {
        opacity: 0;
        visibility: hidden;
      }

      .mintmrm-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 167px;
        box-shadow: 0px 10px 16px #bdc1c880;
        font-size: 15px;
        padding: 12px 15px;
        border: none;
        z-index: 9;
      }
    }

    &.coming-soon {
      width: calc(75% - 40px);

      .coming-soon-inner {
        width: 100%;
        height: calc(100% - 35px);
        min-height: 120px;
        background: #fff;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
      }

      h2 {
        width: 100%;
        text-align: center;
        z-index: 2;
        font-size: 16px;
        font-weight: 600;
        color: #2D3149;
        cursor: text;
      }
    }

    .mintmrm-single-remote-wrapper {
      position: relative;
    }

    .mintmrm-single-remote-template {
      position: relative;
    }

    .template-image-wrapper {
      background-image: url(http://mrm.local/wp-content/uploads/2022/11/template-thumbnail.jpg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center center;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &:before{
        content: '';
        display: block;
        padding-top: calc(100% + 20px);
      }
    }

    .hoverlay {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      .mintmrm-btn {
        padding: 11px 18px;
      }
    }

    &:hover {
      .hoverlay {
        opacity: 1;
        visibility: visible;
      }
    }

    .template-img {
      width: 100%;
      height: 350px;
      border-radius: 10px 10px 0 0;
      object-fit: contain;
    }

    .template-info {
      margin-top: 16px;

      .title {
        margin-bottom: 0;
        text-align: center;
        display: block;
        color: #2D3149;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.01em;
        transition: all 0.3s ease;
      }
    }
    
  }

}

.folded .mintmrm-template-modal {
  width: calc(100% - 36px);
}


//---------responsive style--------
@media only screen and (max-width: 1599px) {
  .mintmrm-template-modal .template-modal-overflow {
    padding: 40px;
  }

  .mintmrm .mintmrm-template-wrapper {
    margin-left: -30px;
  }
  .mintmrm .mintmrm-single-template {
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1399px) {
  .mintmrm .mintmrm-single-template {
    width: calc(100% / 3 - 30px);
  }

  .mintmrm .mintmrm-single-template.coming-soon {
    width: calc(66.33333333% - 30px);
  }
  
}

@media only screen and (max-width: 1199px) {
  .mintmrm-template-modal .template-modal-overflow {
    padding: 30px;
  }
  .mintmrm-template-modal .template-modal-header .template-filter {
    gap: 18px;
  }
  .mintmrm-template-modal .template-modal-header .template-filter li {
    font-size: 15px;
  }
  .mintmrm .mintmrm-single-template .template-info .title {
    font-size: 16px;
  }

  .mintmrm-template-modal .template-modal-footer .template-pagination button {
    padding: 13px 8px;
  }

}

@media only screen and (max-width: 960px) {
  .auto-fold .mintmrm-template-modal {
    width: calc(100% - 36px);
  }
  .folded .email-builder-editor {
    width: calc(100% - 36px);
  }

}

@media only screen and (max-width: 782px) {
  .auto-fold .mintmrm-template-modal {
    width: 100%;
  }

  .folded .email-builder-editor {
    width: 100%;
  }

}