.mintmrm-settings-page {
    padding: 40px 0;

    .mintmrm-settings {
        .conatct-heading {
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            color: #2d3149;
            margin-bottom: 25px;
        }
    }

    .mintmrm-settings-wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 24px;

        .settings-navbar {
            width: 314px;
            background: #fff;
            box-shadow: 0px 1px 1px #b6b9bf4d;
            border-radius: 10px;
            padding: 24px;

            ul {
                li:last-child {
                    .mintmrm-btn {
                        margin-bottom: 0;
                    }
                }
            }

            .mintmrm-btn {
                display: flex;
                align-items: center;
                padding: 18px 20px;
                margin-bottom: 16px;
                svg {
                    margin-right: 9px;
                    path {
                        transition: all 0.3s ease;
                    }
                }
                &.outline {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.19;
                    color: #2d3149;
                }
                &.active,
                &:hover {
                    background-color: #573bff;
                    color: #fff;
                    svg {
                        path {
                            fill: #ffffff;
                        }
                    }
                }
            }
        }

        .business-settings-tab-nav {
            display: flex;
            flex-flow: row wrap;
            border-bottom: 1px solid #ebedf0;
            margin-bottom: 30px;
            gap: 30px;

            button {
                font-weight: 600;
                font-size: 15px;
                line-height: 1.3;
                color: #2d3149;
                background: transparent;
                padding-bottom: 10px;
                cursor: pointer;
                position: relative;
                transition: all 0.3s ease;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    background: $primary-color;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease;
                }

                &.active {
                    color: $primary-color;

                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .settings-tab-content {
            background: #ffffff;
            box-shadow: 0px 1px 1px #b6b9bf4d;
            border-radius: 10px;
            width: calc(100% - (314px + 24px));

            .tab-body {
                padding: 20px 30px 30px;
            }

            .tab-header {
                margin-bottom: 30px;
                padding-bottom: 18px;
                border-bottom: 1px solid #ebedf0;

                .title {
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: 600;
                    color: #2d3149;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 10px;
                        width: 23px;
                        height: 24px;

                        path {
                            fill: #a7a8b3;
                        }
                    }
                }
            }

            .form-wrapper {
                .form-header {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: space-between;

                    h4 {
                        font-size: 18px;
                        line-height: 1;
                        font-weight: 600;
                        color: #2d3149;
                    }

                    .mintmrm-btn {
                        padding: 10px 20px;
                        display: flex;
                        align-items: center;
                        box-shadow: 0px 10px 16px #61677426;

                        svg {
                            margin-right: 5px;
                        }
                    }
                }

                .form-group {
                    display: flex;
                    align-items: center;
                    flex-flow: row wrap;
                    margin-bottom: 22px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    & > label {
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 1.2;
                        color: #2d3149;
                        width: 223px;
                        padding-right: 10px;
                        display: flex;
                        align-items: center;
                        gap: 9px;

                        .mintmrm-tooltip {
                            svg {
                                rect {
                                    fill: #686f7f;
                                }
                            }
                        }
                    }

                    &.top-align {
                        align-items: flex-start;

                        & > label {
                            padding-top: 0;
                        }
                    }

                    input[type="url"],
                    input[type="number"],
                    input[type="email"],
                    input[type="text"],
                    textarea,
                    select {
                        font-size: 14px;
                        line-height: 1.3;
                        color: #7a8b9a;
                        padding: 12px 15px;
                        width: calc(100% - 223px);
                    }

                    #wp-tinymce-wrap {
                        width: calc(100% - 223px);
                    }

                    .mintmrm-switcher {
                        span,
                        label {
                            width: 34px;
                            height: 20px;
                        }
                        label:after {
                            top: 1px;
                            left: 2px;
                            width: 16px;
                            height: 16px;
                        }
                        input[type="checkbox"]:checked + label:after {
                            margin-left: 13px;
                            filter: none;
                        }
                    }
                    .mintmrm-radiobtn {
                        margin-right: 30px;
                        label {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 1.21;
                            color: #344054;
                        }
                        label::before {
                            width: 18px;
                            height: 18px;
                        }

                        label::after {
                            width: 8px;
                            height: 8px;
                        }
                    }

                    .drop-down-button {
                        margin-top: 12px;
                        width: 100%;
                        border: 1px solid #ebedf0;
                        border-radius: 6px;
                        padding: 15px 16px;
                        background-color: transparent;
                        text-align: left;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.21;
                        color: #a4a8b5;

                        &::before {
                            content: " ";
                            display: block;
                            position: absolute;
                            border-style: solid;
                            border-color: #686f7f;
                            border-width: 0px 1px 1px 0px;
                            transform: rotate(45deg);
                            transition: border-width 150ms ease-in-out;
                            height: 5px;
                            right: 20px;
                            top: 60%;
                            width: 5px;
                            cursor: pointer;
                        }
                        &.show::before {
                            top: 65%;
                            transform: rotate(225deg);
                        }

                        .single-list {
                            border: 1px solid #e4e6eb;
                            border-radius: 4px;
                            font-size: 12px;
                            line-height: 1;
                            letter-spacing: -0.01em;
                            color: #667085;
                            display: inline-block;
                            padding: 3px 22px 3px 6px;
                            margin-right: 6px;
                            margin-bottom: 5px;
                            position: relative;
                            vertical-align: middle;

                            .close-list {
                                background: transparent;
                                padding: 1px 6px 2px;
                                border-radius: 2px;
                                font-size: 10px;
                                cursor: pointer;
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 100%;
                                border: none;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    width: 1px;
                                    background: #e4e6eb;
                                }
                                svg {
                                    width: 6px;
                                    height: 6px;

                                    path {
                                        fill: #a7a8b3;
                                    }
                                }
                            }
                        }
                    }
                }

                hr {
                    display: block;
                    border-color: #ebedf0;
                    margin: 30px 0;
                    border-bottom: none;
                }

                .photo-upload {
                    .photo-area {
                        display: flex;
                        flex-flow: row wrap;
                        gap: 33px;
                        width: calc(100% - 223px);
                    }

                    .preview-img {
                        width: 105px;
                        height: 105px;
                        border-radius: 100%;
                        background: #f6f8fa;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                            object-fit: cover;
                        }
                    }
                    .upload-area {
                        border: 2px dashed #dadfe8;
                        border-radius: 6px;
                        width: calc(100% - 138px);
                        height: 194px;

                        button {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            justify-content: center;
                            padding: 20px;
                            font-size: 14px;
                            line-height: 1.4;
                            color: #a7a8b3;
                            background-color: transparent;
                        }

                        .icon {
                            background: #f6f8fa;
                            border-radius: 100%;
                            height: 70px;
                            width: 70px;
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 14px;
                        }

                        mark {
                            font-weight: 600;
                            color: $primary-color;
                            background-color: transparent;
                        }
                    }
                }
            }

            .social-settings-wrapper,
            .business-settings-wrapper {
                display: none;

                &.active {
                    display: block;
                }
            }

            .social-media-wrapper {
                display: flex;
                flex-flow: row wrap;
                gap: 30px;
                margin-top: 24px;

                .single-media {
                    background: #ffffff;
                    border: 1px solid #e4e6eb;
                    border-radius: 10px;
                    padding: 24px;
                    width: calc(100% / 2 - 15px);
                    position: relative;

                    .remove-media {
                        position: absolute;
                        right: 24px;
                        top: 24px;
                        background: #ffffff;
                        border: 1px solid #e4e6eb;
                        border-radius: 6px;
                        width: 34px;
                        height: 34px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        path {
                            fill: #a7a8b3;
                        }
                    }

                    .social-media-upload {
                        width: 82px;
                        height: 82px;
                        background: #f6f8fa;
                        border-radius: 100%;
                        position: relative;
                        margin-bottom: 20px;

                        & > img {
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                            object-fit: cover;
                        }

                        .upload-btn {
                            background: #ffffff;
                            box-shadow: 0px 3px 4px #bbbbbb40;
                            border-radius: 20px;
                            width: 34px;
                            height: 34px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            bottom: 10px;
                            right: -10px;

                            svg {
                                width: 18px;
                                height: 18px;

                                path {
                                    fill: #a7a8b3;
                                }
                            }
                        }
                    }

                    .form-group {
                        display: block;
                        position: relative;

                        &::before {
                            content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjAgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI0E3QThCMyIgZD0iTTE0LjU1NyA5LjQxMWEuODM0LjgzNCAwIDEwMS4xNzggMS4xNzhsMS4yODctMS4yODZhNC40NzQgNC40NzQgMCAwMC02LjMyNi02LjMyNkw5LjQxIDQuMjY0YS44MzMuODMzIDAgMTAxLjE3OCAxLjE3OGwxLjI4Ny0xLjI4N2EyLjgwNyAyLjgwNyAwIDExMy45NjkgMy45N0wxNC41NTcgOS40MXpNNS40NCAxMC41OWEuODMyLjgzMiAwIDAwLS45MDctMS4zNjYuODMzLjgzMyAwIDAwLS4yNzEuMTg3bC0xLjI4NyAxLjI4N2E0LjQ3MyA0LjQ3MyAwIDAwNi4zMjYgNi4zMjVsMS4yODctMS4yODZhLjgzMy44MzMgMCAwMC0xLjE3OC0xLjE3OGwtMS4yODcgMS4yODZhMi44MDcgMi44MDcgMCAwMS0zLjk3LTMuOTY5bDEuMjg3LTEuMjg3eiIvPjxwYXRoIGZpbGw9IiNBN0E4QjMiIGQ9Ik02LjgzNyAxMy4xNjZhLjgzMy44MzMgMCAwMDEuMTc4IDBsNS4xNTEtNS4xNWEuODM0LjgzNCAwIDEwLTEuMTc4LTEuMTc5bC01LjE1MSA1LjE0N2EuODMzLjgzMyAwIDAwMCAxLjE4MnoiLz48L3N2Zz4=);
                            position: absolute;
                            bottom: 8px;
                            right: 12px;
                            width: 20px;
                        }

                        & > label {
                            width: 100%;
                            padding: 0;
                            margin-bottom: 7px;
                            font-size: 14px;
                        }
                        input {
                            width: 100%;
                            padding-right: 34px;
                        }
                    }
                }
            }

            .tab-footer {
                border-top: 1px solid #ebedf0;
                padding: 20px 30px;
                display: flex;
                justify-content: flex-end;

                .mintmrm-btn {
                    .mintmrm-loader {
                        display: inline-block;
                        position: relative;
                        top: 2px;
                    }
                }
            }

            .general-tab-content {
                .general-single-settings {
                    border: 1px solid #e4e6eb;
                    border-radius: 6px;
                    margin-bottom: 22px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .general-settings-header {
                        padding: 17px 20px 15px;

                        .form-group {
                            justify-content: space-between;
                        }

                        .form-group > label {
                            width: 300px;
                        }
                    }

                    .general-settings-body {
                        border-top: 1px solid #e4e6eb;
                        padding: 30px 24px;
                        display: none;

                        &.show {
                            display: block;
                        }
                        hr {
                            margin-left: -24px;
                            margin-right: -24px;
                        }
                        .select-preference-wrapper,
                        .editable-primary-field {
                            width: calc(100% - 223px);
                        }

                        .select-preference-wrapper {
                            .mintmrm-radiobtn {
                                display: block;
                                margin-bottom: 20px;
                                margin-right: 0;
                            }

                            .list-section {
                                background: #f6f8fa;
                                border-radius: 6px;
                                padding: 20px;

                                .drop-down-button {
                                    background-color: #ffffff;
                                    &::before {
                                        right: 38px;
                                    }
                                }
                            }
                        }
                        .editable-primary-field {
                            .mintmrm-checkbox {
                                display: block;
                                margin-bottom: 20px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .wp-user {
                            border-bottom: 1px solid #ebedf0;
                            margin: -30px -24px 23px;
                            padding: 14px 24px;
                            span {
                                display: inline-block;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 1.21;
                                color: #9398a5;
                                &:first-child {
                                    width: 223px;
                                }
                            }
                        }

                        &.user-signup-settings {
                            & > label {
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 1.2;
                                color: #344054;
                            }
                            .administrator,
                            .tutor-instructor,
                            .shop-manager {
                                width: calc(100% - 223px);
                                .drop-down-button {
                                    &:first-child {
                                        margin-top: 0;
                                    }
                                    &:before {
                                        top: 45%;
                                    }
                                    &.show::before {
                                        top: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
                .top-wrapper {
                    border: 1px solid #e4e6eb;
                    border-radius: 6px;
                    padding: 19px;
                    display: flex;
                    justify-content: space-between;
                }
                .inner-wrapper {
                    border: 1px solid #e4e6eb;
                    border-top: navajowhite;
                    border-radius: 0 0 6px 6px;
                    padding: 30px 24px;
                }
            }
            .double-optin-tab-content {
                .redirect-page-button {
                    width: calc(100% - 223px);

                    .drop-down-button {
                        padding: 15px;

                        &::before {
                            top: 50%;
                        }
                        &.show::before {
                            top: 55%;
                        }
                    }
                }

                .confirmation-message-section,
                .redirect-url-section,
                .page-dropdown-section {
                    display: none;

                    &.show {
                        display: flex;
                    }
                }
            }
        }

        //----only business tab content style----
        .business-tab-content {
            .tab-body {
                padding: 30px;
            }

            .tab-header {
                margin-bottom: 17px;
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        //-------custom-field-wrapper---------
        .custom-field-wrapper {
            margin-top: 30px;

            .field-list-wrapper {
                border: 1px solid #e4e6eb;
                border-radius: 6px;
            }

            .single-custom-field {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                padding: 12px 20px;
                border-bottom: 1px solid #e4e6eb;

                &:last-child {
                    border-bottom: none;
                }

                .field-name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.3;
                    color: #344054;
                }

                .field-action {
                    padding: 6px;
                    height: 30px;
                    background: transparent;
                    position: relative;

                    .mintmrm-dropdown {
                        width: 148px;
                        top: 100%;
                    }
                }
            }

            .no-field {
                border: 1px solid #e4e6eb;
                border-radius: 6px;
                padding: 30px;
                height: 360px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                p {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1.3;
                    color: #2d3149;
                    margin-top: 18px;
                }
            }
        }

        //---custom field modal style-----
        .add-custom-field-modal {
            position: fixed;
            top: 0;
            right: 0;
            width: calc(100% - 160px);
            height: 100%;
            z-index: 99;
            background: rgba(16, 5, 46, 0.3);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;

            .custom-field-modal-inner {
                height: 100%;
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
            }

            .close-modal {
                background: #ffffff;
                box-shadow: 0px 1px 2px #dadada;
                border-radius: 100px;
                width: 46px;
                height: 46px;
                position: absolute;
                right: -13px;
                top: -13px;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 12px;
                    height: 12px;
                    display: block;
                }

                path {
                    fill: #a7a8b3;
                }
            }

            .modal-content-wrapper {
                background: #f6f8fa;
                border-radius: 10px;
                width: 100%;
                max-width: 518px;
                position: relative;
                margin: 0 auto;
                transform: translateY(-20px);
                transition: all 0.3s ease;

                .modal-body {
                    padding: 24px;

                    .modal-title {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 1;
                        color: #2d3149;
                        margin-bottom: 25px;
                    }

                    .form-group {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        label {
                            margin-bottom: 5px;
                            letter-spacing: -0.01em;
                        }

                        select,
                        input {
                            border-color: #e4e6eb;
                            padding: 14px 15px;
                        }

                        .mintmrm-tooltip {
                            position: relative;
                            top: 2px;
                            margin-left: 5px;
                        }
                    }
                }

                .modal-footer {
                    padding: 24px;
                    border-top: 1px solid #e4e6eb;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 15px;

                    .mintmrm-btn {
                        width: 80px;
                    }
                }

                .new-field-wrapper {
                    background: #fff;
                    padding: 20px;
                    border-radius: 6px;
                    box-shadow: 0 1px 3px #33333324;
                }
            }

            &.show-modal {
                opacity: 1;
                visibility: visible;

                .modal-content-wrapper {
                    transform: translateY(0);
                    transition-delay: 0.1s;
                }
            }
        }
    }
}

.folded
    .mintmrm-settings-page
    .mintmrm-settings-wrapper
    .add-custom-field-modal {
    width: calc(100% - 36px);
}

@media only screen and (max-width: 960px) {
    .mintmrm-settings-page .mintmrm-settings-wrapper .add-custom-field-modal {
        width: calc(100% - 35px);
    }
}

@media only screen and (max-width: 782px) {
    .mintmrm-settings-page .mintmrm-settings-wrapper .add-custom-field-modal {
        width: 100%;
    }
}
