@import "font";
@import "reset";
@import "default";
@import "elements";
@import "header";
@import "create-contact";
@import "all-contacts";
@import "contact-details";
@import "all-lists";
@import "import-page";
@import "campaign-module";
@import "campaign-list";
@import "add-campaign";
@import "contact-list";
@import "tags";
@import "email-template";
@import "campaign-email-builder";
@import "drawer";
@import "custom-select";
@import "shimmer";
@import "form";
@import "form-editor";
@import "mrm-navbar";
@import "contact-header";
@import "add-segment";
@import "tool-tip";
@import "settings";

.arco-layout-has-sider {
  width: 100% !important;
}



.email-campaign-stats {
  width: 200px;
  height: 200px;
  position: relative;

  .email-draft-progressbar {
    width: 100%;
    height: 100%;
  }
  .email-sent-progressbar {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle-background,
  .circle-progress {
    fill: none;
  }

  .circle-background {
    stroke: #E8EDF2;
  }

  .circle-progress {
    stroke: #02C4FB;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .circle-text {
    font-size: 3em;
    font-weight: bold;
    fill: #02C4FB;
  }
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}
