.mintmrm {
    .mrm-flyins {
        position: fixed;
        right: 0;
        bottom: 0;

        .mrm-form-wrapper-inner {
            background: #4cd79d;
            padding: 5px;

            .mrm-form-close {
                right: inherit;
                left: -12px;
                background: #4cd79d;
            }
        }

        .mrm-form-overflow {
            max-height: 410px;
            overflow: auto;
            padding: 15px;
        }
    }

    
    //--fade in animation--
    .mrm-flyins.mrm-fade-in {
        -webkit-animation: mrmFadeIn 0.5s ease 1s both;
        animation: mrmFadeIn 0.5s ease 1s both;
    }


    //--slide in animation--
    .mrm-flyins.mrm-slide-in-up {
        -webkit-animation: mrmSlideInUp 0.5s ease 0.5s both;
        animation: mrmSlideInUp 0.5s ease 0.5s both;
    }



    //-------responsive style--------
    @media only screen and (max-width: 575px) {
    
        .mrm-flyins .mrm-form-overflow {
            max-height: 230px;
        }
    
    }

}//---./mintmrm