.mintmrm {
    .add-segment-page {
        max-width: 1190px;
        padding: 40px 15px 0;
        width: 100%;
        margin: 0 auto;

        .backto-segment {
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: #A4A8B5;
            background: transparent;
            display: flex;
            align-items: center;
            padding: 8px 0;
            margin-bottom: 2px;
            cursor: pointer;

            svg {
                width: 12px;
                margin-right: 7px;
            }
        }

        .add-segment-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: -0.02em;
            color: #2D3149;
            margin-bottom: 18px;
        }

        .segment-wrapper {
            background: #EEF1F4;
            border-radius: 10px;
            padding: 30px;
        }

        .segment-header {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            background: #FFFFFF;
            box-shadow: 0px 1px 1px #b6b9bf4d;
            border-radius: 10px;
            padding: 24px;

            .form-group {
                label{
                    margin-bottom: 10px;
                }

                input[type=text] {
                    padding: 10px 15px;
                }

                .mintmrm-btn {
                    padding: 8px 10px;
                    line-height: 1;
                    width: 76px;
                    height: 40px;

                    .mintmrm-loader {
                        position: relative;
                        top: 2px;
                    }
                }
            }

            .form-group:not(.submit-btn) {
                width: calc((100% - 107px) / 2);
                margin-right: 15px;
            }
            .submit-btn {
                label{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}