.mintmrm {
    .add-segment-page {
        max-width: 1190px;
        padding: 40px 15px 0;
        width: 100%;
        margin: 0 auto;

        .backto-segment {
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: #A4A8B5;
            background: transparent;
            display: flex;
            align-items: center;
            padding: 8px 0;
            margin-bottom: 2px;
            cursor: pointer;

            svg {
                width: 12px;
                margin-right: 7px;
            }
        }

        .add-segment-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: -0.02em;
            color: #2D3149;
            margin-bottom: 18px;
        }

        .segment-wrapper {
            background: #EEF1F4;
            border-radius: 10px;
            padding: 30px;
        }

        .segment-header {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            background: #FFFFFF;
            box-shadow: 0px 1px 1px #b6b9bf4d;
            border-radius: 10px;
            padding: 24px;

            .form-group {
                width: calc(100% / 2 - 8px);
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }

                label{
                    margin-bottom: 10px;
                }

                input[type=text] {
                    padding: 10px 15px;
                }

                .mintmrm-btn {
                    padding: 8px 10px;
                    line-height: 1;
                    width: 76px;
                    height: 40px;

                    .mintmrm-loader {
                        position: relative;
                        top: 2px;
                    }
                }
            }

        }

        //-----segment-condition-wrapper-----
        .segment-condition-wrapper {
            
        }

        .preview-contact-wrapper {
            background: #FFFFFF;
            box-shadow: 0px 1px 1px rgba(182, 185, 191, 0.3);
            border-radius: 10px;

            .contact-list-header {
                padding: 20px 24px;
                margin-top: 30px;

                h4 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1;
                    color: #2D3149;
                }
            }
        }

        .save-btn-area {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 30px;

            .mintmrm-btn {
                margin-left: 16px;
                font-size: 15px;
                font-weight: 500;

                &:first-child {
                    margin-left: 0;
                }

                &.cancel{
                    background-color: transparent;
                    border: 1px solid #E4E6EB;
                    color: #2D3149;

                    &:hover {
                        background-color: #00000008;
                    }
                }

                &.save{
                    box-shadow: 0px 10px 16px rgba(189, 193, 200, 0.5);
                }
            }
        }
    }
}