.campaign-list-page {
    .contact-list-area {
        .contact-list-body {
            border: none;
        }
    }
    
    .campaign-list-table {
        .no-campaign-wrapper {
            height: 540px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .title {
                font-weight: 600;
                font-size: 18px;
                line-height: 1.3;
                color: #101828;
                margin-top: 15px;
            }
        }
        tbody{
            tr:last-child {
                border-bottom: none;
                
            }
        }

    }
}