@import "variables";
.campaign-list-page {
  .campaign-list-area {
    .campaign-list-body {
      border: none;
    }
  }
  .campaign-list-area {
    margin-top: 30px;

    .campaign-list-header {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .left-filters {
        .form-group {
          label {
            display: none;
          }
        }
      }
      .right-buttons {
        display: flex;
        flex-flow: row wrap;
        .search-section {
          position: relative;
          svg {
            position: absolute;
            top: 10px;
            left: 10px;
          }
          input {
            padding: 2px 10px 2px 40px;
            width: 200px;
          }
        }
        .bulk-action {
          position: relative;
          .more-option {
            background: #ffffff;
            border: 1px solid #e4e6eb;
            border-radius: 6px;
            height: 34px;
            width: 34px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 12px;
          }
          .assigned-to.mintmrm-dropdown {
            width: 332px !important;

            .list-title {
              margin-bottom: 0;
            }
            .option-section {
              padding: 10px 0;
            }
          }
        }
      }
    }

    //---------campaign-list-body------
    .campaign-list-body {
      border-bottom: 1px solid #e2e5ed;
      position: relative;

      .contact-list-table {
        max-width: 100%;
        width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
        &::-webkit-scrollbar-track {
          background: #f9fafb;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #ccd0d9;
          border-radius: 20px;
        }
      }

      .campaign-table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: auto;
        width: 100%;
        border: none;
        border-radius: 0.5rem;
        white-space: nowrap;
      }
      .campaign-table {
        .table-head {
          .table-row {
            display: flex;
            flex-flow: row wrap;
            .table-header {
              padding: 15px 20px;
              vertical-align: middle;
              font-weight: 500;
              font-size: 15px;
              line-height: 18px;
              color: #667085;
              text-align: left;
              position: sticky;
              top: 0;

              label {
                color: #667085;
                padding-left: 40px;
              }
            }
          }
        }
        .table-body {
          .table-row {
            box-shadow: 0px 1px 2px #dadada;
            border-radius: 6px;
            background-color: #ffffff;
            margin-bottom: 15px;
            display: flex;
            flex-flow: row wrap;
            padding: 8px 0px;

            .table-data {
              padding: 15px 20px;
              vertical-align: middle;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.3;
              color: #6a707c;
              // border-bottom: 1px solid #e2e5ed;
              text-align: left;

              label {
                color: #667085;
                padding-left: 40px;
              }

              .tag-item,
              .list-item {
                font-weight: 400;
                font-size: 12px;
                line-height: 1;
                letter-spacing: -0.01em;
                color: #667085;
                border: 1px solid #e4e6eb;
                border-radius: 6px;
                text-transform: capitalize;
                padding: 3px 5px;
                margin-right: 5px;
                display: inline-block;
              }
            }
          }
          // .table-row:last-child {
          //     border-bottom: none;
          // }

          .email {
            display: flex;
            align-items: center;

            .title {
              max-width: 220px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              cursor: pointer;
              display: flex;
              flex-flow: column wrap;
              gap: 4px;
              a {
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #121212;
              }
              &:hover{
                a{
                  color: $primary-color;
                }
              }
              span {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.01em;
                color: #b6b6b7;
              }
            }
            .mintmrm-checkbox label:before {
              top: 1px;
            }
            .mintmrm-checkbox label:after {
              top: 7px;
            }
          }

          .status {
            span {
              border-radius: 6px;
              display: inline-block;
              font-weight: 600;
              font-size: 12px;
              line-height: 15px;
              padding: 4px 8px;

              &.draft {
                color: #121212;
                background: #f4f4f4;
              }
              &.completed {
                color: #239654;
                background: rgba(35, 150, 84, 0.1);
              }
            }
          }

          .action {
            button {
              position: relative;
            }
          }
        }
        .table-head,
        .table-body {
          .table-row {
            justify-content: center;
            align-items: center;
          }
          .campaign-name {
            width: 390px;
          }
          .campaign-name-wrapper {
            width: 390px;
          }
          .recipient,
          .open-rate,
          .click-rate {
            width: 125px;
          }
          .unsubscribers {
            width: 160px;
          }
          .status {
            width: 145px;
          }
          .three-dot {
            width: 60px;
          }
        }
        .table-body {
          .campaign-name {
            svg {
              margin-right: 20px;
            }
          }
        }
      }
    }
    // ------end .campaign-list-body-------

    //---------contact-list-footer------
    .contact-list-footer {
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
      width: 100%;
      justify-content: space-between;

      .footer-show-number {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        gap: 9px;

        input {
          width: 52px;
          min-width: auto;
          padding: 5px;
          height: 34px;
        }

        .single-page-data {
          color: #6a707c;
        }
      }

      .footer-pagination {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        li {
          margin-left: 2px;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.2;
          color: #6a707c;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          cursor: pointer;
          padding: 8px 12px;

          &.active {
            background: #6f6af8;
            color: #ffffff;
          }
        }
      }
    }

    @media only screen and (max-width: 600px) {
      .campaign-list-header {
        .right-buttons {
          margin-top: 15px;
        }
      }
      .contact-list-footer {
        justify-content: center;
        gap: 10px;
      }
    }
    // ------end .contact-list-footer-------
  }

  .campaign-list-table {
    .no-campaign-wrapper {
      height: 540px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
        color: #101828;
        margin-top: 15px;
      }
    }
    .table-body {
      .table-row:last-child {
        border-bottom: none;
      }
    }
  }
}
