.mrm-campaign-builder-navbar-wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 2px #e2e2e2;
  box-shadow: 0 4px 2px -2px gray;
  padding: 20px 25px 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-left-section {
    display: flex;
    flex-flow: row wrap;
    .back-button {
      border: 1px solid #e4e6eb;
      border-radius: 6px;
      width: 40px;
      height: 40px;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        width: 16px;
        height: 13px;
      }
    }
    .responsive-section {
      width: 80px;
      height: 40px;
      border: 1px solid #e4e6eb;
      border-radius: 6px;
      .computer-view, .mobile-view{
        background-color: #ffffff;
      }
    }
  }
}
