.contact-list-page.lists-page {
    .contact-list-area {
      .left-filters {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        .select2.select2-container.select2-container--default {
          width: 100% !important;
        }
  
        .select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
          width: 100% !important;
        }
        .select2.select2-container.select2-container--default.select2-container--focus.select2-container--above.select2-container--open {
          width: 100% !important;
        }
  
        .select2-result
          .select2-container.select2-container--default.select2-container--open
          .select2-search__field {
          display: none;
        }
        .soronmrm-select2-selectbox
          .select2-container--default
          .select2-selection--single
          .select2-selection__arrow {
          right: -3px;
          top: -1px;
        }
  
  
        .select2-result .select2-container.select2-container--default.select2-container--open .select2-search--dropdown{
          padding: 0;
        }
  
        .sort-by {
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          padding-right: 15px;
          color: #344054;
        }
      }
    }
  }
  
  