.contact-list-area {
  .left-filters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .select2-result .select2-container.select2-container--default.select2-container--open .select2-search__field{
      display: none;
    }
    .sort-by {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      padding-right: 15px;
      color: #344054;
    }
  }
}
