.mintmrm-template-alert-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  width: calc(100% - 160px);
  height: 100%;
  background: rgba(51, 51, 51, 0.2);
  z-index: 999;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  // display: none;

  .mintmrm-template-confirmation {
    background: #f6f6f6;
    box-shadow: 0 1px 34px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    // padding: 30px 20px;
    width: 100%;
    max-width: 90vw;
    min-height: 90vh;

    .template-confirmation-header {
      background-color: #ffffff;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      border-radius: 10px 10px 0 0;
      justify-content: space-between;
      padding: 20px 20px 20px 30px;
      border-bottom: 1px solid #e4e6eb;

      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
      }

      .cross-icon {
        height: 30px;
        width: 30px;
        background: #ffffff;
        border: 1px solid #e4e6eb;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          path {
            fill: #686f7f;
          }
        }
      }
    }

    .template-confirmation-body {
      padding: 32px 80px 32px 80px;
      .template-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .template-tab-section {
          .tab-list {
            display: flex;
            flex-flow: row wrap;
            gap: 30px;
            .brand-template,
            .my-templates {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #6f7075;

              &.active {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #121212;
                padding-bottom: 4px;
                border-bottom: 3px solid #6f6af8;
              }
            }
          }
        }
        .email-type-dropdown {
          .type-button {
            padding: 10px 40px 10px 16px;
            background: #ffffff;
            border: 1px solid #e3e4e8;
            box-shadow: 0px 1px 1px rgb(218 218 218 / 50%);
            border-radius: 6px;
          }
        }
      }

      .template-body {
        display: flex;
        flex-flow: row wrap;
        padding: 40px 0;
        .template-select-section {
          width: calc(100% / 4 - 40px);
          margin: 0 20px;
          background: #ffffff;
          box-shadow: 0px 2px 3px #dfdfdf;
          border-radius: 6px;
          display: none;
        }
        .template-select-section:first-child {
          margin-left: 0;
          border: 1.3px dashed #c3c2c2;
          display: flex;
          padding: 135px 50px;
          width: auto;
        }
        }
        .template-select-section:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .icon {
    width: 50px;
    height: 50px;
    border: 2px solid #e65555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    border-radius: 100%;

    svg {
      width: 18px;
      height: 18px;

      path {
        stroke: #e65555;
      }
    }
  }

  .mintmrm-template-confirm-btn {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: end;
    padding: 20px;
    border-top: 1px solid #e4e6eb;

    li {
      margin: 0 6px;
    }

    .btn-default {
      height: 41px;
      line-height: 42px;
      font-weight: 600;
      font-size: 14px;
      padding: 0 20px;
      min-width: 76px;
      border-radius: 8px;

      &.template {
        background-color: #ec5956;
        color: white;

        &:hover {
          background-color: #de6464;
        }
      }
      &.cancel {
        background-color: #eee;
        color: #333;

        &:hover {
          background-color: #e2e2e2;
        }
      }
    }
  }
}
.mintmrm-template-alert-wrapper.inactive {
  display: none;
}

.folded .mintmrm-template-alert-wrapper {
  width: calc(100% - 36px);
}
