.soronmrm-import-page {
  background: #dadada;
  padding-bottom: 500px;

  .soronmrm-header {
    padding-bottom: 85px;
  }

  .import-type-title,
  .click-to-upload {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #6a707c;
    text-align: center;
  }
  .click-to-upload-text {
    color: #6f6af8;
    text-decoration: underline;
    cursor: pointer;
  }
  .mrm-hide-element {
    display: none;
  }
  .import-type-title {
    padding-bottom: 20px;
  }
  .import-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: -60px;
  }
  .csv-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    color: #6a707c;
  }
  .choose-import-section {
    width: 276px;
    padding: 20px 25px 0 25px;
  }

  .upload-section {
    width: calc(100% - 296px);
    margin-left: 20px;
    min-height: 540px;
  }
  .choose-import-section,
  .upload-section {
    background: #ffffff;
    border-radius: 10px;
  }
  .upload-button {
    width: 100%;
    padding: 18px;
    margin: 8px 0px;
  }
  .upload-section {
    h3,
    .csv-title,
    .file-upload-section,
    .select-field-form {
      margin: 0 25px;
    }
    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #101828;
      padding: 20px 0 7px 0;
    }
    .csv-title {
      margin-bottom: 25px;
      display: block;
      a {
        text-decoration: underline;
      }
    }
    .file-upload-section {
      border: 1px dashed #cbcacf;
      border-radius: 8px;
      display: flex;
      flex-flow: column wrap;
      padding: 103px 0;
      align-items: center;
      row-gap: 18px;
      /* padding-bottom: 25px; */
      margin-bottom: 25px;

      .click-to-upload {
        a {
          text-decoration: underline;
        }
      }
    }
    .raw-textarea {
      color: black;
      width: 100%;
      min-height: 340px;
    }
    .raw-textarea::placeholder {
      color: #6a707c;
    }
    .csv-save-button {
      border-top: 1px solid #e4e6eb;
      padding: 20px 25px 20px 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: end;
    }

    .select-field-table {
      max-width: 100%;
      width: 100%;
      border: 1px solid #e4e6eb;
      border-radius: 10px;
      margin-bottom: 28px;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background: #f9fafb;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ccd0d9;
        border-radius: 20px;
      }
    }

    table {
      position: relative;
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: auto;
      width: 100%;
      border: none;
      border-radius: 0.5rem;
      white-space: nowrap;
    }
    table {
      thead {
        th {
          background: #f9fafb;
          padding: 15px 20px;
          vertical-align: middle;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #667085;
          border-bottom: 1px solid #e2e5ed;
          text-align: left;

          label {
            color: #667085;
            padding-left: 40px;
          }
        }
      }
    }

    table {
      tbody {
        td {
          width: 50%;
          padding: 12px 20px;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: #6a707c;
          text-align: left;
        }
      }
    }
    tbody tr:nth-child(even) {
      background: #f9fafb;
    }

    // table tr:last-child td:first-child {
    //   border-bottom-left-radius: 0.5rem;
    // }
    // table th:first-child {
    //   border-top-left-radius: 0.5rem;
    // }
    // table tr:last-child td:last-child {
    //   border-bottom-right-radius: 0.5rem;
    //   border-bottom: 0;
    // }
    // table tr:last-child td:first-child {
    //   border-bottom: 0;
    // }
    // table th:last-child {
    //   border-top-right-radius: 0.5rem;
    // }
    table tr > th:first-child,
    table tr > td:first-child {
      position: sticky;
      left: 0;
      z-index: 1;
    }

    .soronmrm-select2-selectbox {
      padding: 0;
    }
    .soronmrm-select2-selectbox span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #6a707c;
    }

    .import-button {
      border-top: 1px solid #e4e6eb;
      padding: 20px 25px 20px 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: end;

      .import-confirm-button {
        margin-left: 12px;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .confirmation-detail {
      padding-top: 40px;
      text-align: center;
    }
    .view-contact-detail {
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
    }

    .profile-section h3 {
      padding-bottom: 20px;
    }

    .contact-profile {
      display: flex;
      flex-flow: row wrap;
      border: 1px solid #e4e6eb;
      border-radius: 10px;
      padding: 22px 25px 25px 25px;
      margin-bottom: 22px;

      .soronmrm-select2-selectbox {
        width: calc(100% / 3 - 20px);
        margin-left: 20px;

        label {
          margin-bottom: 6px;
          display: block;
        }
      }
    }
    .wordpress-user {
      box-shadow: 0px 20px 20px rgb(0 0 0 / 6%);
      border-radius: 10px;
      border-top: 1px solid blue;
      margin: 50px 120px;

      .wordpress-user-title {
        padding: 32px;
      }

      // span {
      //   display: block;

      // }

      .total-subscribe,
      .existing-subscribe {
        display: block;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 15px;
          color: #6a707c;
          padding-left: 3px;
        }
      }

      .csv-save-button {
        padding: 20px 30px 20px 0;

        .contact-save {
          margin-left: 15px;
        }
      }
    }
  }
}
