.tag-contact {
    .contact-container {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        padding-top: 35px;
    }

    .conatct-heading {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #101828;
        margin-top: 20px;
    }

    .add-contact-form {
        border: 1px solid #e4e6eb;
        border-radius: 10px;
        margin-top: 20px;

        .contact-form-body {
            padding: 30px 30px 13px;
            display: flex;

            .form-group {
                width: calc(100% / 2 - 10px);
                margin-left: 20px;

                &:nth-child(odd) {
                    margin-left: 0;
                }

                label {
                    display: block;
                    padding-bottom: 10px;
                }

                input,
                select{
                    padding: 9px 15px;
                }
                textarea {
                    min-width: auto;
                }
                  
            }
        }


        // contact from button style
        .contact-button-field {
            display: flex;
            justify-content: flex-end;
            padding: 16px 32px 18px;
            
            .contact-save {
                margin-left: 12px;
                margin-top: 12px;
            }

            .contact-cancel{
                margin-top: 12px;
            }
        }
    }
}